<!--input-field-->
<div class="input-container">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>To Do</mat-label>
      <input matInput>
    </mat-form-field>
    <button class="btn" mat-raised-button color="accent">add</button>
    </div>

    <div class="todo-container">
    <mat-list role="list">
        <mat-list-item role="listitem">Item 1<button mat-stroked-button color="accent">delete</button></mat-list-item>
        <mat-list-item role="listitem">Item 2<button mat-stroked-button color="accent">delete</button></mat-list-item>
        <mat-list-item role="listitem">Item 3<button mat-stroked-button color="accent">delete</button></mat-list-item>
      </mat-list>
</div>
