.toolbar {

    background-color: rgb(73, 73, 73);
    color: white;
}

.input-container {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.btn {
    
    height: 50px;
    margin-left: 10px;
}